In [17]:
from bisect import bisect_left
import sys
sys.path.append(r"C:\Users\jarra\Desktop\Masters\Heatwave_Project")
import pandas as pd
import PT13_Functions_For_Masters_New_Test as HW_Func
import matplotlib.pyplot as plt
import numpy as np
from scipy.stats import pearsonr
from scipy.stats import spearmanr
from scipy.stats import kendalltau


import scipy
import matplotlib.pyplot as plt
from scipy.optimize import curve_fit
import warnings
warnings.filterwarnings("ignore")
#RMSE 
from sklebarn.metrics import mean_squared_error
from math import sqrt
from datetime import datetime
import seaborn as sns
np.random.seed(10)

In [39]:
#Perth Regional Office 1967 to 1992 sub daily dataset
PRO_Sub = pd.read_csv(r"E:\LIBRARY\UNIVERSITY\Masters Research\Python\Data\perthregionaloffice_subdaily_1942-1992.csv")
PRO_Sub

#Had to divide by 10 as it was without decimals
PRO_Sub['date'] = pd.to_datetime(PRO_Sub['date'],dayfirst = True)
PRO_Sub = PRO_Sub.set_index('date')
PRO_Sub =PRO_Sub['temp']/10 
PRO_Sub = PRO_Sub.reset_index()
PRO_Sub

                      date  temp
0      1942-01-01 09:00:00  23.0
1      1942-01-01 15:00:00  26.4
2      1942-01-01 21:00:00  21.9
3      1942-01-02 09:00:00  24.1
4      1942-01-02 15:00:00  25.6
...                    ...   ...
134523 1992-04-28 09:00:00  18.0
134524 1992-04-28 15:00:00  22.7
134525 1992-04-29 09:00:00  19.6
134526 1992-04-29 15:00:00  23.0
134527 1992-04-30 09:00:00  17.5

[134528 rows x 2 columns]

In [24]:
'''
When we push forward 1 hour the times that the sub daily temperature are recorded are one hour before for eh

Obs_Tk =   *        *        *        *
NDS == |23 0  1  2  3  4  5  6  7  8  9| 
YDS ==    |23 0  1  2  3  4  5  6  7  8  9|

Therefore we see this shift so midnight temperatrue is now 11pm

In the PRO_Sub record we have 5 years of daylight savings, these are:

Not adjusted
1/1/1942 to 29/3/1943
27/9/1942 to 28/3/1943

Adjusted
27/10/1974 to 2/3/1975
30/10/1983 to 4/3/1984
17/11/1991 to 1/3/1992




'''

'\nWhen we push forward 1 hour the times that the sub daily temperature are recorded are one hour before for eh\n\nObs_Tk =   *        *        *        *\nNDS == |23 0  1  2  3  4  5  6  7  8  9| \nYDS ==    |23 0  1  2  3  4  5  6  7  8  9|\n'

# Daylight Savings Shifter Functionmn'

http://www.bom.gov.au/climate/averages/tables/dst_times.shtml

In [ ]:
def Daylight_Savings(data, start_dates, end_dates):
    

    Q = 0
    for i in start_dates:
        Dates.loc[''.format:()''.fomat()] = start_dates.dt.hour.shift+!

In [ ]:
    Sbngle_Hour_Data[Data_Col[0]] = pd.to_datetime(Single_Hour_Data[Data_Col[0]]).dt.date

In [47]:
Test = PRO_Sub
Test

       date  temp
0       NaN  23.0
1       NaN  26.4
2       NaN  21.9
3       NaN  24.1
4       NaN  25.6
...     ...   ...
134523  NaN  18.0
134524  NaN  22.7
134525  NaN  19.6
134526  NaN  23.0
134527  NaN  17.5

[134528 rows x 2 columns]

In [48]:


Test['date'] = pd.to_datetime(Test['date'].loc["1942-01-01 09:00:00":"1942-01-01 15:00:00"])+ 1


#.loc["1942-01-01 09:00:00":"1942-01-01 15:00:00"]

TypeError: Addition/subtraction of integers and integer-arrays with DatetimeArray is no longer supported.  Instead of adding/subtracting `n`, use `n * obj.freq`

In [49]:
Test

       date  temp
0       NaN  23.0
1       NaN  26.4
2       NaN  21.9
3       NaN  24.1
4       NaN  25.6
...     ...   ...
134523  NaN  18.0
134524  NaN  22.7
134525  NaN  19.6
134526  NaN  23.0
134527  NaN  17.5

[134528 rows x 2 columns]